.hobby-detail-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: #fff;
  padding-bottom: 2rem;
  min-height: 100vh;
}

.hobby-detail-hero {
  text-align: center;
  margin-bottom: 2rem;
  padding: 4rem 2rem;
  position: relative;
  width: 100%;
}

.hobby-detail-title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  letter-spacing: 2px;
}

.hobby-detail-description {
  font-size: 1.25rem;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
  color: #fefefe;
  opacity: 0.9;
}

.hobby-content {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: flex-start;
  max-width: 1200px;
  width: 100%;
  padding: 2rem;
  flex-wrap: wrap;
}

.hobby-text {
  flex: 1;
  padding: 1.5rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  animation: slideInFromLeft 1s ease-out;
}

.hobby-paragraph {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.hobby-highlights-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hobby-highlights {
  list-style: none;
  padding: 0;
}

.highlight-item {
  font-size: 1rem;
  margin-bottom: 0.8rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.highlight-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.highlight-item::before {
  content: "✨";
  margin-right: 0.8rem;
  color: #ffd700;
}

.hobby-image-container {
  flex: 1;
  animation: fadeIn 1s ease-in;
}

.hobby-image {
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}
